[master]
jobs=4

[format]
max-line-length=79

[messages control]
reports=no
disable=
    duplicate-code,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-few-public-methods,

[typecheck]
ignored-modules=pytest
